@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --White: hsl(0, 0%, 100%);
    --Light-Grey: hsl(217, 12%, 63%);
    --Medium-Grey: hsl(216, 12%, 54%);
    --Dark-Blue: hsl(213, 19%, 18%);
    --Very-Dark-Blue: hsl(216, 12%, 8%);
    --Orange:hsl(25, 97%, 53%);
    --Fonte-padrao: 'Overpass', sans-serif;
}

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: var(--Fonte-padrao);
}

body{
    background-color:var(--Very-Dark-Blue);
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card-one{
    max-width: 400px;
    background-color: var(--Dark-Blue);
    border-radius: 20px;
}

.star{ 
    display: flex;
    width: 50px;
    height: 50px;
    background-color: #2d3742;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 20px;
    left: 20px;
}

.card-one h1{
    color: white;
    /* padding: 20px 20px 10px 20px; */
    padding: 40px 20px 10px 20px;
    font-size: 1.5rem;
    font-weight: 600;
}

.card-one h2{
    color:var(--Light-Grey);
    padding: 10px 20px 20px 20px;
    font-size: 1rem;
    font-weight: 400;
}

input[type=radio]{
    all: unset;
}

.options{
    display: flex;
    justify-content: center;
}

label{
    width:  50px;
    height: 50px;
    background-color: #2d3742;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: var(--Light-Grey);
    margin-right: 10px;
    transition: .5s;
}

label:hover{
    background-color: var(--Light-Grey);
    color: var(--White);
}

.active{
    background-color: var(--Orange);
    color: var(--White);
}

.active:hover{
    background-color: var(--Orange);
    color: var(--White);
}


.choice{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.botao{
    border: none;
    background-color: var(--Orange);
    color: var(--White);
    padding: 10px 120px;
    margin: 20px 0px;
    border-radius: 20px;
    cursor: pointer;
    letter-spacing: 2px;
    font-weight: 600;
    transition: .5s;
}

.botao:hover{
    background-color: var(--White);
    color: var(--Orange);
}

.card-two{
    max-width: 400px;
    background-color: var(--Dark-Blue);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: backInDown; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 1s; /* don't forget to set a duration! */
}

.card-two img{
    max-width: 50%;
    padding: 30px 0px;
}

.result-select{
    color: var(--Orange);
    background-color: #3e4d5c;
    padding: 6px 10px;
    border-radius: 10px;
    font-size: .9rem;
    font-weight: 400;
    margin-bottom: 30px;
}

.card-two h1{
    color: white;
    font-size: 1.7rem;
    font-weight: 600;
    margin-bottom: 20px;
}

.card-two h2{
    color: var(--Light-Grey);
    font-weight: 400;
    font-size: 1.1rem;
    text-align: center;
    margin: 0px 15px 50px 15px;
}

.disable-card{
    display: none !important; 
}

footer{
    color: var(--Light-Grey);
    margin: 30px 0px;
}

footer a{
    color: var(--Orange);
    text-decoration: none;
    font-weight: 600;
}

@media(max-width: 475px){
    .card-one{
        max-width: 300px;
    }

    .botao{
        padding: 10px 80px;
    }

    label{
        width: 40px;
        height: 40px;
    }

    .card-two{
        max-width: 300px;
    }

    .card-two h2{
        font-size: .9rem;
    }

    footer{
        margin: 20px;
        text-align: center;
    }
}